body {
  font-family: "Raleway", sans-serif;
  background: #e9e7e1; }

.card {
  background: #e9e7e1; }

.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3; }
  .navbar .navbar-brand h3 {
    font-weight: 100; }
  .navbar .nav-item {
    font-size: 1.4rem; }
  .navbar .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white; }

#quotes i {
  opacity: 0.3; }
#quotes #footer {
  font-weight: 100; }
#ddraganddrop {
    background: darksalmon;
  }
  
  .fill {
    background-image: url('../images/photo1.jpg');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 3px salmon;
    background: white;
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

#body-index{
  background: url("../images/main.jpeg") bottom center/cover no-repeat;
  min-height: 100%;
  position: relative;
}
#showcase {
  background: url("../images/main.jpeg") bottom center/cover no-repeat;
  min-height: 750px;
  position: relative; }
  #showcase #header {
    z-index: 2; }
  #showcase #overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  #showcase h1 {
    font-family: "Questrial", sans-serif;
    line-height: 1; }
  #showcase #book {
    font-size: 1.5rem;
    border-radius: 2rem; }

@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f; }
    .navbar .nav-link:hover {
      border-bottom: none; }

  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; } }
      .section {
        position: relative;
        height: 100vh;
      }
      
      .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      
      #booking {
        font-family: 'Lato', sans-serif;
      }
      
      .booking-form {
        max-width: 586px;
        width: 100%;
        margin: auto;
      }
      
      .booking-form .form-group {
        position: relative;
        margin-bottom: 0px;
      }
      
      .booking-form>form .row.no-margin {
        margin-right: 0px;
        margin-left: 0px;
      }
      
      .booking-form>form .row.no-margin [class*="col-"] {
        padding-right: 0px;
        padding-left: 0px;
      }
      
      .booking-form .form-control {
        background-color: #fff;
        height: 80px;
        padding: 25px 20px 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #0e2753;
        border: 1px solid #dddee9;
        border-bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
      }
      
      .booking-form [class*="col-"]+[class*="col-"] .form-group .form-control {
        border-left: 0px;
      }
      
      .booking-form .form-control::-webkit-input-placeholder {
        color: #dddee9;
      }
      
      .booking-form .form-control:-ms-input-placeholder {
        color: #dddee9;
      }
      
      .booking-form .form-control::placeholder {
        color: #dddee9;
      }
      
      .booking-form .form-control:focus {
        background: #f9f9f9;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      .booking-form input[type="date"].form-control:invalid {
        color: #dddee9;
      }
      
      .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      
      .booking-form select.form-control:invalid {
        color: #dddee9;
      }
      
      .booking-form select.form-control option {
        color: #0e2753;
      }
      
      .booking-form select.form-control+.select-arrow {
        position: absolute;
        right: 0px;
        bottom: 4px;
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: #dddee9;
        font-size: 20px;
      }
      
      .booking-form select.form-control+.select-arrow:after {
        content: '\279C';
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      
      .booking-form .form-label {
        position: absolute;
        left: 20px;
        top: 10px;
        color: #34acf1;
        font-weight: 400;
        line-height: 24px;
        font-style: italic;
        height: 24px;
        font-size: 14px;
      }
      
      .booking-form .submit-btn {
        color: rgb(0, 0, 0);
        background-color: #34acf1;
        font-weight: 700;
        height: 80px;
        font-size: 18px;
        text-transform: capitalize;
        border: none;
        width: 100%;
      }
      
      @media only screen and (max-width: 767px) {
        .booking-form [class*="col-"]+[class*="col-"] .form-group .form-control {
          border-left: 1px solid #dddee9;
        }
      }

